.controller {
  padding: 20px;
  background: #fff;
}

.buttons, .axes {
  margin: 0 0 10px 0;
}

.axis {
  width: 100px;
  margin: 0 5px 0 0;
}

.button {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}

.button.pressed {
  background: #000;
  color: #fff;
}
